// STYLE
    
    // HEADER

    .nav_pages > li {
        list-style: none;
    }

    .nav_socialIcons > li {
        list-style: none;
    }


    // MAIN

    .li_list {
        list-style-type: circle;
    }